@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --background-color: #000000;
  --text-color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ccc;
  line-height: 1.6;
  background-color: #1d1d1d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d7d7d7;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

li:last-child {
  border-bottom: none;
}

.button {
  background-color: #0066cc;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  height: 50px;
  font-size: large;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  background-color: #0066cc;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #005bb5;
}

.navbar {
  width: 99%;
  background-color: #0066cc;
  overflow: hidden;
  border-radius: 25px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 15px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 12px;
  margin: 0 5px;
}

.navbar a:hover {
  background-color: #005bb5;
  transform: scale(1.1);
}

.navbar .active {
  background-color: #004c99;
  font-weight: bold;
}

.navbar-right {
  float: right;
  display: block;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 15px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 12px;
  margin: 0 5px;
}

.logout {
  background-color: #780800;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.product-container {
  display: flex;
  align-items: center;
  margin: 20px;
}
.product-container img {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}
.product-details {
  max-width: 600px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}
.item div {
  flex: 1;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 20%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus {
  border-color: #0066cc;
  outline: none;
}

.summary {
  background-color: #3d3d3d;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
}

.list-container {
  display: flex;
}

.price-table {
  flex: 1;
  margin-left: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  color: #000000;
  border: 1px solid #ddd;
  padding: 8px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
